<%- provide :nav, :profile %>
<%- page_title '个人信息' %>

<header class="page-header">
  <h2><i class="fa fa-user"></i>个人信息</h2>
</header>

<%= simple_form_for(current_user, url: profile_path, wrapper: :horizontal, html: { method: :patch, class: 'form-horizontal' }) do |f| %>
  <%= f.input :name, required: true %>
  <div class="form-group file optional">
    <label class="file optional control-label" for="user_avatar">头像</label>
    <div class="controls">
      <p>
        <%= image_tag current_user.avatar.url(:small), size: '80x80', class: 'img-circle' %>
      </p>
      <%= f.file_field :avatar, class: 'file optional form-control', id: 'user_avatar' %>
      <%= f.input :avatar_cache, as: :hidden %>
    </div>
  </div>
  <%= f.input :gender, as: :radio_buttons, collection: %w(男 女) %>
  <%= f.input :location %>
  <%= f.input :site %>
  <%= f.input :description, as: :text, input_html: {rows: 5} %>

  <div class="form-group">
    <div class="form-action">
      <%= f.button :submit, '保存', class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="form-group">
    <div class="form-result">
      <%- if r = flash[:profile] %>
        <%= content_tag :div, class: "alert alert-#{r[:status]}" do %>
          <%= r[:text] %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
