<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>
        <i class="fa fa-list"></i>
        添加到收藏列表
        <span class="title">{{title}} {{subtitle}}</span>
      </h4>
    </div>

    <div class="modal-body">
      <img alt="{{title}}" src="{{photo}}">

      <header>
        <div class="title">
          <h5>{{title}}</h5>
          <small>{{subtitle}}</small>
        </div>
      </header>

      <form class="new-thing-list-form form-inline" action="#">
        <h5>选择该产品要添加进的列表</h5>
        <ul class="thing-lists"></ul>

        <fieldset>
          <div class="input-group">
            <input class="form-control" name="name" type="text" placeholder="添加一个列表">
            <span class="input-group-btn">
              <button class="btn btn-primary disabled" type="submit">添加</button>
            </span>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="modal-footer">
      <form class="new-thing-list-items-form" action="#">
        <input class="form-control" name="description" type="text" placeholder="说点什么吧（50字以内哦）" maxlength=50>
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-check"></i>
          完成
        </button>
      </form>
    </div>
  </div>
</div>
