<%- page_title '修改账号' %>

<header class="page-header">
  <h2>修改账号</h2>
</header>
<main role="main">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_url(resource_name), :html => { :method => :patch }) do |f| %>
    <% if current_user.email.blank? %>
      <%= f.input :email, :required => true, :autofocus => true %>
    <% else %>
      <%= f.input :email, :disabled => true %>
    <% end %>
    <%= f.input :password, :autocomplete => "off", :hint => "如果不想修改，请留空", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :hint => "输入当前密码", :required => true if resource.email_was.present? %>
    <%= f.button :submit, "更新" %>
  <% end %>
</main>
