<article>
  <section>
    <p>{{{content}}}</p>
  </section>
  <footer class="author">
    {{#with author}}
      <a href="{{url}}">
        <img src="{{photo_url}}" class="user_avatar">
      </a>
      <a href="{{url}}">{{name}}</a>
    {{/with}}
    {{{created_time_tag}}}
    {{#if can_destroy}}
      <a class="destroy">
        <i class="icon-trash"></i>
      </a>
    {{/if}}
  </footer>
</article>
