<article class="comment">
  <div class="avatar">
    {{#with author}}
    <a href="{{url}}" data-popover-profile="{{id}}">
      <img src="{{photo_url}}">
    </a>
    {{/with}}
  </div>
  <header class="author">
    {{#with author}}
      <a href="{{url}}">{{name}}</a>
    {{/with}}
    <time datetime="{{created_at}}">{{created_at_words}}</time>
    {{#if can_reply}}
      <a class="reply" href="#" title="回复">
        <i class="fa fa-reply"></i>
      </a>
    {{/if}}
    {{#if can_destroy}}
      <a class="destroy" href="#" title="删除">
        <i class="fa fa-trash-o"></i>
      </a>
    {{/if}}
  </header>
  <section>
    {{{content}}}
  </section>
</article>
