<article>
  <header>
    <h3>{{title}}</h3>
    <div class="author">
      {{#with author}}
        <img src="{{photo_url}}" class="user_avatar">
        <a>{{name}}</a>
      {{/with}}
      发表于{{{created_time_tag}}}
    </div>
  </header>
  <section>
    <p>{{{content}}}</p>
  </section>
  <footer>
  </footer>
</article>
