<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="情人节, KnewOne, 探索分享新奇酷">
    <meta name="keyword" content="情人节, KnewOne, 剁手网, 新奇酷">
    <meta name="author" content="lilu.life@gmail.com">
    <link rel="shortcut icon" href="<%= asset_path 'favicon.png' %>">

    <title>买完再剁手的2014情人节礼物清单 - Knewone</title>

    <%= stylesheet_link_tag "specials/valentine/application" %>

    <!-- Respond.js IE8 support of media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= javascript_include_tag "modernizr" %>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?b44696b80ba45a90a23982e53f8347d0";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </head>

  <body>
    <div id="sharing_cover">
      <%= image_tag 'specials/valentine/sharing_cover.png' %>
    </div>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="container">
            <h1><span><i class="fa fa-heart"></i><a href="/">knewone</a></span>情人节专题</h1>
          </div>
        </div>
        <div class="container topAvatar">
          <a href="/">
            <img src="<%= asset_path 'specials/valentine/avatar.png' %>" alt="love from knewone" />
          </a>
        </div>
      </div>
    </div>

    <div class="container">

      <section class="forHimWrapper">
        <div class="row">
          <div class="col-lg-6 forHim">
            <div>
              <img src="<%= asset_path 'specials/valentine/boy.png' %>" alt="for him" />
              <h2>送男生<span>for HIM</span></h2>
            </div>
          </div>
          <a href="http://knewone.com/things/nike-plus-fuelband-se-yun-dong-shou-dai" target="_blank">
            <div class="col-lg-6 fuelBand">
              <h2><span>Nike+ FuelBand SE</span>运动手带</h2>
              <h3>多多运动变男神<i class="fa fa-angle-right"></i></h3>
              <img src="<%= asset_path 'specials/valentine/him/fuelBand.jpg' %>">
            </div>
          </a>
          <a href="http://knewone.com/things/klhipzhi-jia-qian" target="_blank">
            <div class="col-lg-3 forHimSub">
              <div class="productPicWrapper">
                <img src="<%= asset_path 'specials/valentine/him/klhip.png' %>">
              </div>
              <div class="productTitle">
                <h2><span>Klhip</span>指甲钳</h2>
                <h3>最卓越的生活品质体现在最微小的事情上<i class="fa fa-angle-right"></i></h3>
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/nanrenwa-pro" target="_blank">
            <div class="col-lg-3 forHimSub socksWrapper">
              <div class="productPicWrapper">
                <img src="<%= asset_path 'specials/valentine/him/socks.jpg' %>">
              </div>
              <div class="productTitle">
                <h2><span>NanRenWa Pro</span>防弹袜</h2>
                <h3>最耐磨的袜子！他一定会在哥们儿中炫耀这份礼物<i class="fa fa-angle-right"></i></h3>
              </div>
            </div>
          </a>
        </div>
        <div class="row">
          <div class="col-lg-4 glassesSection">
            <h2><a href="http://knewone.com/things/allure-eyewear-codg4-k" target="_blank"><span>Allure Eyewear</span>防疲劳眼镜</a></h2>
            <h3>他是重度电脑用户？为他的眼睛保驾护航吧</h3>
            <img src="<%= asset_path 'specials/valentine/glassIcon.png' %>" alt="glass casper" />
          </div>
          <a href="http://knewone.com/things/yeelight-blue" target="_blank">
            <div class="col-lg-4 forHimSub forHimSub_2 glassesFirst">
              <div class="productPicWrapper">
                <img src="http://image.knewone.com/photos/5e4fbbfe21391235a630e4b1baf8303f.jpg!review" style="height: 160px;margin-top: 10px;">
              </div>
              <div class="productTitle">
                <h2><span>Yeelight Blue</span>彩色情景灯</h2>
                <h3>把家变成约会圣地</h3>
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/bluelounge-sanctuary4" target="_blank">
            <div class="col-lg-4 forHimSub forHimSub_2 glassesLast">
              <div class="productPicWrapper">
                <img src="http://image.knewone.com/photos/470516a9b089d4031990b170aef7c1d7.jpg!review">
              </div>
              <div class="productTitle">
                <h2><span>Bluelounge Sanctuary4</span>充电底座</h2>
                <h3>整洁的男人，从整理数据线开始</h3>
              </div>
            </div>
          </a>
        </div>
      </section>

      <section class="forHerWrapper">
        <div class="row">
          <div class="col-lg-7 forHer">
            <div>
              <h2>送女生<span>for HER</span></h2>
              <img src="<%= asset_path 'specials/valentine/girl.png' %>" alt="for her" />
            </div>
          </div>
          <a href="http://knewone.com/things/coffee-joulies" target="_blank">
            <div class="col-lg-5 cup">
              <h2><span>Coffee Joulies</span>咖啡豆</h2>
              <h3>恒温的咖啡，恒温的爱情<i class="fa fa-angle-right"></i></h3>
              <img src="http://image.knewone.com/photos/096c840717116e9dcf32c4204725d6a3.jpg!review">
            </div>
          </a>
          <a href="http://knewone.com/things/native-union-pop-bluetooth-nil-fang-fu-she-fu-gu-lan-ya-hua-tong" target="_blank">
            <div class="col-lg-3 forHerSub monkeyCorner">
              <div class="productTitle">
                <h2>防辐射手机听筒</h2>
                <h3>要够抢眼，也要够健康<i class="fa fa-angle-right"></i></h3>
              </div>
              <div class="productPicWrapper">
                <img src="http://image.knewone.com/photos/4ab6fbbbfb0560d1fa3571a30659d8e7.jpg!review">
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/picooc-latin" target="_blank">
            <div class="col-lg-4 forHerSub">
              <div class="productTitle">
                <h2><span>PICOOC Latin</span></h2>
                <h3>她在嚷嚷减肥？一个智能体脂测量仪告诉她，健康最重要~<i class="fa fa-angle-right"></i></h3>
              </div>
              <div class="productPicWrapper">
                <img src="<%= asset_path 'specials/valentine/her/latin.jpg' %>">
              </div>
            </div>
          </a>
        </div>
        <div class="row">
          <a href="http://knewone.com/things/click-and-grow" target="_blank">
            <div class="col-lg-6 forHerSub forHerSub_2 plantCorner">
              <div class="productTitle">
                <h2><span>Click &amp; Grow</span>智能盆栽</h2>
                <h3>共同种下属于你俩的植物，看他们开花结果<i class="fa fa-angle-right"></i></h3>
              </div>
              <div class="productPicWrapper">
                <img src="<%= asset_path 'specials/valentine/her/plant.jpg' %>">
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/huan-teng-zhi-neng" target="_blank">
            <div class="col-lg-6 forHerSub forHerSub_2 lightCorner">
              <div class="productTitle">
                <h2>幻腾智能</h2>
                <h3>她再也不用冒着受冻的麻烦下床关灯啦<i class="fa fa-angle-right"></i></h3>
              </div>
              <div class="productPicWrapper">
                <img src="<%= asset_path 'specials/valentine/her/light.jpg' %>">
              </div>
            </div>
          </a>
        </div>
      </section>

      <section class="hr"></section>

      <section class="col-lg-12 roundedsplit">
        <div>
          <img src="<%= asset_path 'specials/valentine/loveIcon.png' %>" alt="be my valentine" />
          <h2>表白神器</h2>
        </div>
      </section>

      <section class="confessionWrapper">
        <div class="row">
          <a href="http://knewone.com/things/necomimi-brainwave-cat-ears" target="_blank">
            <div class="col-lg-3 confessionSub catCorner">
              <div class="productTitle">
                <h2><span>Necomimi Brainwave Cat Ears</span>猫耳朵</h2>
                <h3>让她带上，表白同时还能看到她娇羞的模样<i class="fa fa-angle-right"></i></h3>
              </div>
              <div class="productPicWrapper">
                <img src="<%= asset_path 'specials/valentine/confession/catEar.jpg' %>">
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/emie-samo" target="_blank">
            <div class="col-lg-3 confessionSub samoCorner">
              <div class="productTitle">
                <h2><span>emie SAMO</span><br />萨摩移动电源</h2>
                <h3>告诉她，你就是这只为她提供能量的小忠犬<i class="fa fa-angle-right"></i></h3>
              </div>
              <div class="productPicWrapper">
                <img src="<%= asset_path 'specials/valentine/confession/samo.jpg' %>">
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/nanum-love-pot" target="_blank">
            <div class="col-lg-3 confessionSub">
              <div class="productTitle">
                <h2><span>Nanum Love Pot</span><br />爱心加湿器</h2>
                <h3>你的心意，她的美丽<i class="fa fa-angle-right"></i></h3>
              </div>
              <div class="productPicWrapper">
                <img src="<%= asset_path 'specials/valentine/confession/humidifier.jpg' %>">
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/lumio" target="_blank">
            <div class="col-lg-3 confessionSub lumioCorner">
              <div class="productTitle">
                <h2><span>Lumio</span></h2>
                <h3>没有人能抗拒它的光华之美<i class="fa fa-angle-right"></i></h3>
              </div>
              <div class="productPicWrapper">
                <img src="http://image.knewone.com/photos/ff1aedd71afb73516721a8bf42572db6.jpg!review">
              </div>
            </div>
          </a>
        </div>
      </section>

      <img src="<%= asset_path 'specials/valentine/typewriter.png' %>" alt="typewriter" class="bottomTyper" />

      <footer>
      </footer>

    </div><!-- end container -->

    <%- if user_signed_in? %>
      <a
        id="feedback"
        href="#"
        data-name="<%= current_user.name %>"
        data-email="<%= current_user.email %>"
        data-id="<%= current_user.id %>"
        data-hint="fa-question"
        data-url="<%= asset_path('olark.js') %>">
        <i class="fa fa-question"></i>
        <label>选择困难</label>
      </a>
    <% else %>
      <a
        id="feedback"
        href="#"
        data-hint="fa-question"
        data-url="<%= asset_path('olark.js') %>">
        <i class="fa fa-question"></i>
        <label>选择困难</label>
      </a>
    <% end -%>

    <%= javascript_include_tag "specials/valentine/application" %>
  </body>
</html>
