<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="妇女节, KnewOne, 探索分享新奇酷">
    <meta name="keyword" content="妇女节, KnewOne, 剁手网, 新奇酷">
    <meta name="author" content="lilu.life@gmail.com">
    <link rel="shortcut icon" href="<%= asset_path 'favicon.png' %>">

    <title>KnewOne 妇女节专题 | 妇女解放</title>

    <%= stylesheet_link_tag "specials/womensday/application" %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= javascript_include_tag "modernizr" %>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?b44696b80ba45a90a23982e53f8347d0";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </head>

  <body>
    <div id="sharing_cover">
      <%= image_tag 'specials/womensday/sharing_cover.png' %>
    </div>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="container pageTitle">
          <h1><a class="fontpro" href="/" target="_blank">KnewOne</a>妇女节专题</h1>
          <ul class="socialShare">
            <li>
              <a href="javascript:(function(){window.open('http://v.t.sina.com.cn/share/share.php?title='+encodeURIComponent(document.title)+'%20@KnewOne&amp;url='+encodeURIComponent(location.href)+'&amp;source=bookmark','_blank','width=500,height=500');})()" title="新浪微博分享">
                <i class="fa fa-weibo"></i>
              </a>
            </li>
            <li>
              <a href="javascript:(function(){window.open('https://twitter.com/home?status='+encodeURIComponent(document.title)+'%20'+encodeURIComponent(location.href)+'%20@KnewOneCom&amp;source=bookmark','_blank');})()" title="Share on Twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="share qrCode">
              <a id="social_share_wechat" data-toggle="popover" data-trigger="hover" data-container="body" data-placement="bottom" title="微信朋友圈分享">
                <i class="fa fa-qrcode"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="cover-container">
          <img src="<%= asset_path 'specials/womensday/lady.png' %>" alt="women's day" class="lady" />
          <img src="<%= asset_path 'specials/womensday/ladyMobile.png' %>" alt="women's day" class="ladyMobile" />
        </div>
        <div class="container topAvatar">
          <img src="<%= asset_path 'specials/womensday/avatar.png' %>" alt="" />
        </div>
      </div>
    </div>

    <div class="container">

      <section class="desireWrapper">
        <div class="row">
          <div class="col-lg-3 desire">
            <img src="<%= asset_path 'specials/womensday/desire.png' %>" alt="desire" class="desireImg" />
            <img src="<%= asset_path 'specials/womensday/desireMobile.png' %>" alt="desire" class="desireImgMobile" />
          </div>
          <a href="http://knewone.com/things/vibease" target="_blank">
            <div class="col-lg-3 desireSub desireSub_white desireSubFirst">
              <div class="productPicWrapper">
                  <img src="<%= asset_path 'specials/womensday/desire/vibease.jpg' %>">
              </div>
              <div class="productTitle">
                <h2><span>Vibease</span>跳蛋男朋友</h2>
                <h3>比男朋友更懂你的点<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/teroforma-whisky-stones" target="_blank">
            <div class="col-lg-3 desireSub desireSub_white">
              <div class="productPicWrapper">
                <img src="<%= asset_path 'specials/womensday/desire/whisky.jpg' %>">
              </div>
              <div class="productTitle">
                <h2><span>Teroforma Whisky Stones</span>威士忌冰石</h2>
                <h3>良辰美景，威士忌要一直冰醇<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/polaroid-z2300" target="_blank">
            <div class="col-lg-3 desireSub cherrySub">
              <div class="productPicWrapper">
                <img src="<%= asset_path 'specials/womensday/desire/polaroid.png' %>">
              </div>
              <div class="productTitle">
                <h2><span>Polaroid Z2300</span>拍立得</h2>
                <h3>再也不用为浪费相纸而困扰啦<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/self-stirring-mug" target="_blank">
            <div class="col-lg-3 desireSub">
              <div class="productPicWrapper">
                <img src="http://image.knewone.com/photos/cad4e091948073516ad74c2d9d5cef41.png!review">
              </div>
              <div class="productTitle">
                <h2><span>Self Stirring Mug</span>自动搅拌马克杯</h2>
                <h3>人家就是不想动了啦<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/wake-up-pink-vibe" target="_blank">
            <div class="col-lg-3 desireSub desireSub_white desireSubHalf">
              <div class="productPicWrapper">
                <img id="easteregg" src="<%= asset_path 'specials/womensday/desire/wakeup.png' %>">
              </div>
              <div class="productTitle">
                <h2><span>Wake-Up Pink Vibe</span>跳蛋闹钟</h2>
                <h3>每天都有新高潮<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/zoku-pop-maker" target="_blank">
            <div class="col-lg-3 desireSub desireSub_white desireSubHalf">
              <div class="productPicWrapper">
                <img src="http://image.knewone.com/photos/c0f76ce4ba936a48234fe19726e49134.jpg!review">
              </div>
              <div class="productTitle">
                <h2><span>Zoku Pop Maker</span>神奇雪糕机</h2>
                <h3>迎接夏天，做最萌的棒冰<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
            </div>
          </a>
        </div>
      </section>

      <section class="lifeStyleWrapper">
        <div class="row">
          <div class="col-lg-6 life">
            <img src="<%= asset_path 'specials/womensday/life.png' %>" alt="life" />
          </div>
          <a href="http://knewone.com/things/click-and-grow" target="_blank">
            <div class="col-lg-6 lifeSub lifeSub_white lifeSubFirst">
              <div class="productTitle">
                <h2><span>Click and Grow</span>智能盆栽</h2>
                <h3>不用很烦很累就能做园艺家<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
              <div class="productPicWrapper">
                <img src="<%= asset_path 'specials/womensday/life/plant.jpg' %>">
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/tide-to-go" target="_blank">
            <div class="col-lg-2 lifeSub tideSub">
              <div class="productTitle">
                <h2><span>Tide to Go</span>高效衣物去污笔</h2>
                <h3>据说可以拯救处女座<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
              <div class="productPicWrapper">
                <img src="<%= asset_path 'specials/womensday/life/tide.png' %>">
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/babyliss-juan-fa-bang" target="_blank">
            <div class="col-lg-2 lifeSub lifeSub_white">
              <div class="productTitle">
                <h2><span>Babyliss</span>卷发棒</h2>
                <h3>远离喋喋不休的发型师，造型自己凹<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
              <div class="productPicWrapper">
                <img src="<%= asset_path 'specials/womensday/life/hair.jpg' %>">
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/nanum-love-pot-ai-xin-jia-shi-qi" target="_blank">
            <div class="col-lg-2 lifeSub lifeSub_white klhipSub">
              <div class="productTitle">
                <h2><span>Nanum Love Pot</span>爱心香薰加湿器</h2>
                <h3>弥漫爱的味道<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
              <div class="productPicWrapper">
                <img src="http://image.knewone.com/photos/2948c3901319b88a29eeeecd7185b14b.jpg!review">
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/the-sound-asleep-pillow" target="_blank">
            <div class="col-lg-3 lifeSub lifeSub_white cardSub">
              <div class="productTitle">
                <h2><span>The Sound Asleep pillow</span></h2>
                <h3>让枕头成为你耳语的情人<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
              <div class="productPicWrapper">
                <img src="<%= asset_path 'specials/womensday/life/pillow.png' %>">
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/irobot-roomba-790" target="_blank">
            <div class="col-lg-3 lifeSub lifeSubQuater robotSub">
              <div class="productTitle">
                <h2><span>iRobot Roomba 790</span>最聪明的扫地机器人</h2>
                <h3>满地头发？机器人帮你打扫干净<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
              <div class="productPicWrapper">
                <img src="<%= asset_path 'specials/womensday/life/robot.png' %>">
              </div>
            </div>
          </a>
        </div>
      </section>

      <section class="healthWrapper">
        <div class="row">
          <div class="col-lg-6 health">
            <img src="<%= asset_path 'specials/womensday/health.png' %>" alt="health" />
          </div>
          <a href="http://knewone.com/things/dyson-air-multiplier" target="_blank">
            <div class="col-lg-3 healthSub healthSub_white healthSubFirst">
              <div class="productPicWrapper">
                  <img src="<%= asset_path 'specials/womensday/health/fan.jpg' %>">
              </div>
              <div class="productTitle">
                <h2><span>Dyson Air Multiplier</span>无扇叶的冷热风扇</h2>
                <h3>专门疼爱体寒的妹子<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/picooc-latin" target="_blank">
            <div class="col-lg-3 healthSub healthSub_white">
              <div class="productPicWrapper">
                  <img src="<%= asset_path 'specials/womensday/health/latin.jpg' %>">
              </div>
              <div class="productTitle">
                <h2><span>PICOOC Latin</span>智能健康秤</h2>
                <h3>健康减肥才能变真女神<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/bong-zhi-neng-shou-huan" target="_blank">
            <div class="col-lg-3 healthSub braceSub">
              <div class="productPicWrapper">
                  <img src="<%= asset_path 'specials/womensday/health/bracelet.png' %>">
              </div>
              <div class="productTitle">
                <h2><span>bong</span>手环</h2>
                <h3>无酥麻，不bong<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/vitamix-tnc-5200" target="_blank">
            <div class="col-lg-3 healthSub healthSub_white">
              <div class="productPicWrapper">
                  <img src="<%= asset_path 'specials/womensday/health/mixer.jpg' %>">
              </div>
              <div class="productTitle">
                <h2><span>Vitamix TNC 5200</span>搅拌机</h2>
                <h3>全营养，全美味<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/scixair-c1" target="_blank">
            <div class="col-lg-3 healthSub healthSubHalf">
              <div class="productPicWrapper">
                  <img src="<%= asset_path 'specials/womensday/health/air.png' %>">
              </div>
              <div class="productTitle">
                <h2><span>SciX C1</span>空气净化器</h2>
                <h3>专为中国空气研发的净化器<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
            </div>
          </a>
          <a href="http://knewone.com/things/easiyo-yogurt-maker" target="_blank">
            <div class="col-lg-3 healthSub healthSubHalf yogurtSub">
              <div class="productPicWrapper">
                  <img src="<%= asset_path 'specials/womensday/health/yogurt.png' %>">
              </div>
              <div class="productTitle">
                <h2><span>EasiYo Yogurt Maker</span>不用电不用奶的酸奶机</h2>
                <h3>优格一定要吃最新鲜的~<i class="fa fa-chevron-circle-right"></i></h3>
              </div>
            </div>
          </a>
        </div>
      </section>

      <footer>
        <img src="<%= asset_path 'specials/womensday/bottomIcon.png' %>" alt="" />
      </footer>

    </div><!-- end container -->

    <%- if user_signed_in? %>
      <a
        id="feedback"
        href="#"
        data-name="<%= current_user.name %>"
        data-email="<%= current_user.email %>"
        data-id="<%= current_user.id %>"
        data-hint="fa-comment-o"
        data-url="<%= asset_path('olark.js') %>">
        <i class="fa fa-comment-o"></i>
        <label>我想聊聊</label>
      </a>
    <% else %>
      <a
        id="feedback"
        href="#"
        data-hint="fa-comment-o"
        data-url="<%= asset_path('olark.js') %>">
        <i class="fa fa-comment-o"></i>
        <label>我想聊聊</label>
      </a>
    <% end -%>

    <%= javascript_include_tag "specials/womensday/application" %>
  </body>
</html>
