<%- page_title 'KnewOne登录' %>

<header class="page-header" role="banner">
  <h1>KnewOne登录</h1>
</header>

<main role="main">
  <%- if params[:from] == 'oauth' %>
    <div class="alert alert-info">
      为了绑定授权信息，请先登录。
    </div>
  <% end -%>

  <div id="oauth">
    <%= link_to_with_icon ' Twitter', 'fa fa-twitter', user_omniauth_authorize_path(:twitter), class: "btn btn-info twitter_sign_in" %>
    <%= link_to_with_icon ' 新浪微博', 'fa fa-weibo', user_omniauth_authorize_path(:weibo), class: "btn btn-danger weibo_sign_in" %>
    <%= link_to_with_icon ' QQ', 'fa fa-qq', user_omniauth_authorize_path(:qq_connect), class: "btn btn-primary qq_sign_in" %>
    <%= link_to_with_icon ' 豆瓣', 'fa fa-douban', user_omniauth_authorize_path(:douban), class: "btn btn-success douban_sign_in" %>
    <%#= link_to_with_icon ' bong', 'fa fa-bong', user_omniauth_authorize_path(:bong), class: "btn btn-primary bong_sign_in" %>
  </div>

  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name, redirect_from: params[:redirect_from])) do |f| %>
    <%- if flash[:error] %>
      <div class="alert alert-danger">错误的用户名或密码。<%= link_to '忘记密码？', new_user_password_path %></div>
    <% end %>
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>

    <div class="checkbox">
      <label>
        <input class="boolean optional" id="user_remember_me" name="user[remember_me]" type="checkbox" value="1"> 记住我
      </label>
    </div>

    <%= f.button :submit, "登录", class: "btn btn-primary btn-lg btn-block" %>
    <%= link_to '注册', new_user_registration_path(redirect_from: params[:redirect_from]), class: 'btn btn-success btn-lg btn-block' %>
  <% end %>
</main>
