<%= form_for order, url: ship_haven_order_path(order), html: {class: 'form-inline', role: 'form'} do |f| %>
  <div class="form-group">
    <%= f.select :deliver_by, Order::DELIVER_METHODS.invert, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.text_field :deliver_no, class: 'form-control', placeholder: '运单号' %>
  </div>
  <div class="form-group">
    <%= f.text_field :admin_note, class: 'form-control', placeholder: '备注' %>
  </div>
  <%= f.submit '发货', class: 'btn btn-warning', data: {confirm: '确定发货？'} %>
<% end %>
