<header>
  <h5>{{draft_title}}</h5>
</header>
<section>
  <p>{{draft_summary}}</p>
</section>
<footer>
  <time>{{draft_timestamp}}</time>
  <span class="separator">|</span>
  <a href="{{link}}" target="_blank">编辑</a>
  <span class="separator">|</span>
  <a class="destory" href="#" data-id="{{id}}">删除</a>
</footer>
