<header>
  <h5>{{draft_title}}</h5>
</header>
<section>
  <p>{{draft_summary}}</p>
</section>
<footer>
  <time>{{draft_timestamp}}</time>
  <span class="separator">|</span>
  <a href="{{link}}">编辑</a>
  <span class="separator">|</span>
  <a href="#" data-key="{{key}}">删除</a>
</footer>
